<mat-card>
  <mat-card-content> <h1>Create new Member</h1> </mat-card-content>
  <form [formGroup]="form" (ngSubmit)="onsub()">
    <p>
      <mat-form-field appearance="outline">
        <mat-label>CIN</mat-label>
        <input matInput formControlName="cin" />
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="outline">
        <mat-label>NAME</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>CV</mat-label>
        <input matInput formControlName="cv" />
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="outline">
        <mat-label>TYPE</mat-label>
        <input matInput formControlName="type" />
      </mat-form-field>
    </p>
    <button mat-raised-button color="primary" type="submit">submit</button>
  </form>
</mat-card>
